@use "sass:meta";
@use "../abstracts/vars" as *;
@use "../abstracts/mixins" as *;

$spacing-map: (
  m: margin,
  p: padding,
);

$direction-map: (
  "": "",
  t: -top,
  b: -bottom,
  l: -left,
  s: -left,
  e: -right,
  r: -right,
  x: (
    left,
    right,
  ),
  y: (
    top,
    bottom,
  ),
);

// Spacing mixin
@mixin generate-spacing($prefix, $property, $key, $value) {
  @each $dir, $suffix in $direction-map {
    $final-property: "";
    @if meta.type-of($suffix) == list {
      $final-property: ();
    } @else {
      $final-property: #{$property}#{$suffix};
    }

    .#{$prefix}#{$dir + $del + $key} {
      @if meta.type-of($suffix) == list {
        @each $d in $suffix {
          #{$property}-#{$d}: #{$value};
        }
      } @else {
        #{$final-property}: #{$value};
      }
    }
  }
}

// Responsive mixin
@mixin generate-responsive-spacing($bp-name, $prefix, $property, $key, $value) {
  @include breakpoint($bp-name) {
    @include generate-spacing("#{$bp-name}#{$delBp}#{$prefix}", $property, $key, $value);
  }
}

@each $key, $value in $spaces {
  @each $prefix, $property in $spacing-map {
    @include generate-spacing($prefix, $property, $key, $value);
  }
}

@each $key, $value in $spaces {
  @each $prefix, $property in $spacing-map {
    @each $bp-name, $bp-value in $breakpoints {
      @include generate-responsive-spacing($bp-name, $prefix, $property, $key, $value);
    }
  }
}
